body {
  font-family: 'Quicksand', 'Times New Roman', Times, serif;
  color: #000;
  background-color: #FFC470;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #4793AF;
  color: #fff;
}

header .left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header span {
  margin: 0 1rem;
}
header .right {
  align-self: flex-end;
  margin-right: 0.5rem;
}

.right div {
  position: relative;
}

.material-symbols-outlined {
  font-size: 3.5rem;
}

h1 {
  font-family: 'Knewave', 'Times New Roman', Times, serif;
  font-size: 2.5rem;
  margin: 0.5rem;
}

.welcome h2 {
  font-family: 'Knewave', 'Times New Roman', Times, serif;
  font-size: 4rem;
  margin: 0.5rem;
}

h2 {
  font-family: 'Knewave', 'Times New Roman', Times, serif;
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

button {
  background-color: #8B322C;
  color: #fff;
  font-family: 'Quicksand', 'Times New Roman', Times, serif;
  font-weight: 700;
  font-size: 1.5rem;
  border: none;
  border-radius: 2rem;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
  min-width: 44px;
  min-height: 44px;
}

button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

button:not(:disabled) {
  cursor: pointer;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none;
}

.invisible {
  opacity: 0;
}

label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.question-title {
  margin-bottom: 0.5rem;
}

.question {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0.5rem;
}

.answers {
  display: grid;
  grid-template-columns: 1fr; /* Single column for stacking */
  gap: 2rem;
  margin: 0 auto;
  padding-block: 2rem;
}

.answers label {
  display: inline-block;
  vertical-align: middle;
  line-height: 44px; /* Matches the height of the radio button */
  font-size: 1.25rem;
}

.answers input {
  width: 44px;
  height: 44px;
  vertical-align: middle;
  margin-right: 1rem;
}

.feedback {
  font-size: 1.5rem; 
  font-weight: bold; 
  margin: 0;
}

.scoreboard-title {
  margin-bottom: 0;
}

.scoreboard-container {
  font-size: 1.25rem;
  margin-block: 1.5rem;
}

.scoreboard-container span {
  font-weight: bold;
}

@media screen and (min-width: 520px) {

  header .left {
    width: 80%;
    flex-direction: row;
    align-items: center;
  }
  header span {
    margin: 0 1rem;
  }

  h1 {
    font-size: clamp(3rem, 0.6145rem + 7.6336vw, 5.5rem);
  }

  .welcome h2 {
    font-size: 5.5rem;
    margin: 0.5rem;
  }

  .question {
    text-align: center;
  }
}
