body {
  font-family: 'Quicksand', 'Times New Roman', Times, serif;
  color: #000;
  background-color: #FFC470;
}

.dark-mode {
  background-color: #2e2314;
  color: #c4c4c4;
}

.dark-mode button {
  /*
  background-color: #3d1613;
  */
  background-color: #9c7472;
  color: #000;
}

.dark-mode button:disabled {
  background-color: #333;
  color: #c4c4c4;
}

.dark-mode button:hover {
  background-color: #5e3733;
}

.dark-mode header {
  background-color: #0f1e24;
  color: #c4c4c4;
}

.dark-mode .summary-list-container {
  background-color: #0f1e24;
}

.dark-mode .summary-list-container h2 {
  background-color: #0f1e24;
  color: #c4c4c4;
}

.dark-mode .summary-object-container {
  background-color: #2e2314;
}

.dark-mode footer {
  background-color: #0f1e24;
  color: #c4c4c4;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #4793AF;
  color: #F0F0F0;
  border-radius: 1rem;
}

header .left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header span {
  margin: 0 1rem;
}
header .right {
  align-self: flex-end;
  margin-right: 0.5rem;
}

.right {
  display: flex;
  flex-direction: row;
}

/*
.material-symbols-outlined {
  font-size: 3.5rem;
}
*/

h1 {
  font-family: 'Knewave', 'Times New Roman', Times, serif;
  font-size: 4rem;
  margin: 0.5rem;
}

.welcome h2 {
  font-family: 'Knewave', 'Times New Roman', Times, serif;
  font-size: 4rem;
  margin: 0.5rem;
}

h2 {
  font-family: 'Knewave', 'Times New Roman', Times, serif;
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

button {
  background-color: #8B322C;
  color: #fff;
  font-family: 'Quicksand', 'Times New Roman', Times, serif;
  font-weight: 700;
  font-size: 1.5rem;
  border: none;
  border-radius: 2rem;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
  min-width: 44px;
  min-height: 44px;

  transition-duration: 0.4s;
}

button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

button:not(:disabled) {
  cursor: pointer;
}

button:hover {
  background-color: #750c05;
}

nav {
  display: flex;
  flex-direction: row;
}

.navbar {
  margin: 0.5rem;
  padding: 0.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer {
  font-size: 1rem;
  min-width: 60px;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none;
}

.invisible {
  opacity: 0;
}

label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.question-title {
  margin-bottom: 0.5rem;
}

.expo {
  margin: auto;
  text-align: center;
  font-style: italic;
  max-width: 100%;
}

.question-container {
  max-width: 90%;
}

.question {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0.5rem;
}

.answers {
  display: grid;
  grid-template-columns: 1fr; /* Single column for stacking */
  gap: 2rem;
  margin: 0 auto;
  padding-block: 2rem;
}

.answers label {
  display: inline-block;
  vertical-align: middle;
  line-height: 44px; /* Matches the height of the radio button */
  font-size: 1.25rem;
}

.answers input {
  width: 44px;
  height: 44px;
  vertical-align: middle;
  margin-right: 1rem;
}

.feedback {
  font-size: 1.5rem; 
  font-weight: bold; 
  margin: 0;
}

.scoreboard-title {
  margin-bottom: 0;
}

.scoreboard-container {
  font-size: 1.25rem;
  margin-block: 1.5rem;
}

.scoreboard-container span {
  font-weight: bold;
}

.summary-object {
  padding-inline-start: 0;
  list-style-type: none;
}

.questions-summary-ul {
  padding-inline-start: 1rem;
  list-style-type: "- ";
  margin: 0;
}

.summary-list-container {
  background-color: #4793AF;
  border-radius: 1rem;

  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.summary-list-container h2 {
  text-align: center;
  margin: 1rem 0;
  color: #fff;
  padding-bottom: 2rem;
}

.summary-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  
  margin-bottom: 2rem;
  align-self: center;
}

.summary-object-container {
  width: 70%;
  background-color: #FFC470;  
  border-radius: 1rem;
  padding: 0.5rem;
}

.questions-summary {
  font-weight: bold;
}

.answers-summary {
  font-weight: lighter;
}

footer {
  position: relative;
  bottom: 0.5rem;

  margin-top: 2rem;
  padding: 0.5rem;
  background-color: #4793AF;
  color: #F0F0F0;
  border-radius: 1rem;
}

.footer-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (min-width: 530px) {

  header {
    flex-direction: row;
  }

  header .left {
    width: 70%;
    flex-direction: row;
    align-items: center;
  }
  header span {
    margin: 0 1rem;
  }

  h1 {
    font-size: clamp(3rem, 0.6145rem + 7.6336vw, 5.5rem);
  }

  .welcome h2 {
    font-size: 5.5rem;
    margin: 0.5rem;
  }

  .question-container {
    width: 60%;
  }

  .question {
    text-align: center;
  }

  .summary-list-container {
    justify-content: center;
  }

  .summary-list {
    width: 80%;
    align-self: center;
  }

  .summary-object-container {
    width: 40%;
  }
}
